# Configuring pandas

### Documentation - https://pandas.pydata.org/docs/reference/index.html

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd

# used for dates
import datetime
from datetime import datetime, date

# Set some pandas options controlling output format
pd.set_option('display.notebook_repr_html', False)
pd.set_option('display.max_columns', 8)
pd.set_option('display.max_rows', 10)
pd.set_option('display.width', 80)

# bring in matplotlib for graphics
import matplotlib.pyplot as plt
%matplotlib inline

# The pandas Series
#### A Pandas Series is like a column in a table. It is a one-dimensional array holding data of any type. Read the documentation and create a series that contains 4 items. After that finish the following given cells.

In [2]:
# create a four item Series

In [3]:
# get value at label 1

In [4]:
# Write a snippet of code that will return a Series with the row with labels 1 and 3

In [5]:
# create the same series but this time using an explicit index

In [6]:
# look up items the series having index at first and index at last position

In [7]:
# get only the index of the Series

In [8]:
# create a Series who's index is a series of dates
# https://pandas.pydata.org/docs/reference/api/pandas.date_range.html
# between the two specified dates (inclusive)
# Dates: September 5, 2022 to September 11, 2022

In [9]:
# create a Series with values (representing temperatures) for each date in the index
# You can give them hardcoded values for now [80, 82, 85, 90, 83, 87, 80, 78]
# You can call this series clt_temp

In [10]:
# what's the temperation for September 9?

In [11]:
# create a second series of values using the same index
# You can give them hardcoded values for now [70, 75, 69, 83, 79, 77, 74, 79]
# You can call this series nycTemp

In [12]:
# the series clt_temp and nyc_temp are aligned by their index values
# calculates the difference by those matching labels

In [13]:
# Write the code to find the temperature difference on September 8?

In [14]:
# Write code to find an average difference of temperature between the 2 cities?

# The pandas DataFrame

In [15]:
# create a DataFrame from the two series objects clt_temp and nyc_temp
# and give them column names
# temps_df = pd.DataFrame(
#             {'Charlotte': clt_temp, 
#              'NYC': nyc_temp})
# temps_df

In [16]:
# get the column with the name Charlotte

In [17]:
# likewise we can get just the NYC column

In [18]:
# return both columns in a different order

In [19]:
# retrieve the Charlotte column through PROPERTY SYNTAX

In [20]:
# calculate the temperature difference between the two cities using the dataframe

In [21]:
# add a column to temp_df which contains the difference in temps you can call the column Difference

In [22]:
# get the columns of the dataframe, which is also an Index object

In [23]:
# slice the temp differences column for the rows at 
# location 1 through 4 (as though it is an array)

In [24]:
# get the row at array position 1

In [25]:
# the names of the columns have become the index
# they have been 'pivoted'

In [26]:
# retrieve a random row of your choice by index label using .loc

In [27]:
# get the values in the Differences column in tows 1, 3 and 5
# using 0-based location

In [28]:
# which values in the Missoula column are > 82?

In [29]:
# return the rows where the temps for Missoula > 82

# Loading data from a CSV file into a DataFrame

In [30]:
# read the contents of the file activity3_0.csv into a DataFrame. Call the dataframe df

In [31]:
# Print the contents of the date column

In [32]:
# Get the first value in the date column

In [33]:
# Write the code to get the type of the Date

In [34]:
# read the data and tell pandas the date column should be a date in the resulting DataFrame
# https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html

In [35]:
# verify the type now is date
# in pandas, this is actually a Timestamp

In [36]:
# unfortunately the index is numeric which makes accessing data by date more complicated
# read in again, now specity the data column as being the index of the resulting DataFrame

In [37]:
# Verify that the index is now a DatetimeIndex by calling df.index

# Visualization

In [38]:
# plots the values in the Close column
# https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.plot.html

# Thats it for today :D Good job!!!!

#### Submit this notebook on canvas and you will be graded for correctness. Make sure that you are not cutting corners or shortcuts