# Part 1: Declaring Variables and Printing

#### You may be familiar with the conventional way of initializing variables, shown below:

In [4]:
x = "ITCS 3190"

In [5]:
print(x)

ITCS 3190

#### Python, however, offers another way of initializing variables, in which you can do it in one line. To do this, delimit the variable names and the variable values as shown below

In [1]:
a,b = "Python", 3

In [2]:
print(a)

Python

In [1]:
print(b)

NameError: name 'b' is not defined

#### Now try and initialize three variables, "FirstName", "LastName", and "StudentIDNumber" using a similar method. Make sure to use your name and student ID number for this part.

In [6]:
FirstName = "Seth"
LastName = "Adams"
StudentIDNumber = 101

#### Now, let's try and print it all on one line, saying "My name is (FirstName) (LastName), and my Student ID number is (StudentIDNumber)." using Python's simple "print" statement. One thing to note is that Python does not support concatenating strings and ints, so you may have to figure out how to cast age to a string value to get this to work successfully.

In [ ]:
print()

# Part 2: Importing Libraries

#### We will be using a variety of libraries this semester, including numpy, pandas, and sklearn, so it is necessary to know how to import modules, and can be done as seen below.

In [1]:
import pandas
import numpy as np
from random import randint

#### Now, import the "statistics" module as "stats" and use the median method to find the median of the list below in the empty cell

In [2]:
numList = [24,84,28,55,58,82,98,12,14,8,64,30,78]

# Part 3: Lists

#### First let's explore how to declare a list, and then the operations we can do upon a list

In [27]:
fruits = ["apple", "banana", "pineapple", "mango", "watermelon"]

#### We can find the length of the list

In [4]:
len(fruits)

5

#### We can index the items in a list, and even index a particular item

In [5]:
fruits[2]

'pineapple'

In [6]:
fruits[2][5]

'p'

#### We can also slice lists, and we do so using the format below

In [7]:
fruits[2:]

['pineapple', 'mango', 'watermelon']

In [8]:
fruits[:3]

['apple', 'banana', 'pineapple']

In [9]:
fruits[2:4]

['pineapple', 'mango']

In [10]:
fruits[::2]

['apple', 'pineapple', 'watermelon']

#### The general format for the slicing is [start:stop:step], with step being 1 by default. The start is inclusive, and the stop is exclusive, meaning if you go from index 1 to index 4, it will include index 1 up through the index immediately before index 4, which would be index 3. The step value tells us how big steps should be from one item to the next in the slice. Whether we should include every item, every other item, every 3rd item, etc.

#### You can also add items to the end of the list

In [18]:
fruits.append('peach')
fruits

['apple', 'banana', 'pineapple', 'mango', 'watermelon', 'peach']

#### You can add items in at a specific index

In [23]:
fruits.insert(1, 'plum')
fruits

['apple', 'plum', 'banana', 'pineapple', 'mango', 'watermelon', 'peach']

#### You can delete items at specific index

In [24]:
del fruits[1]
fruits

['apple', 'banana', 'pineapple', 'mango', 'watermelon', 'peach']

#### You can delete items by name as well

In [25]:
fruits.remove('peach')
fruits

['apple', 'banana', 'pineapple', 'mango', 'watermelon']

#### Now, take the below list named alphabet, and use the above operations to follow the instructions in each step. Make sure to write the list name on a new line after the operation to print the list in Jupyter and ensure you are doing the right thing as I have done above with the fruits list.

In [28]:
alphabet = ['a','b','c','d','e','f','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y']

#### Use a function to find the length of the list and make sure it is the correct length

#### If the list is not the correct length, use the add operations above to correct the alphabet

#### Print every other item in the list from item 2 to item 15

#### Remove the first three alphabetically occuring vowels by their indices

#### Remove the remaining vowels by their value

#### Print the final list

#### You can also add lists together and make a new list using +. Use the + to make a new list called fruitAlphabet.

# Part 4: Tuples

#### If you recall, tuples are immutable, so there are limited things we can do to them. We cannot add or remove items, but we can print them and find items at particular indices

In [29]:
fruits1 = ('apple','banana','mango')
fruits1

('apple', 'banana', 'mango')

In [30]:
len(fruits1)

3

In [33]:
fruits1[1]

'banana'

#### Tuples being immutable means that we can not alter the data inside of them. We can, however, still add tuples as we can add lists.

In [35]:
fruits2 = ('pineapple','watermelon')
fruits3 = fruits1 + fruits2
fruits3

('apple', 'banana', 'mango', 'pineapple', 'watermelon')

#### As practice, create a tuple containing the list of days this class falls on called "classDays", and add it to another tuple with the weekdays that this class does not fall on called "daysOff". (It should create an out of order list of the 5 weekdays)

# Part 5: Dictionaries

#### If you recall, dictionaries are used to store key-value pairs, and you can see them in action below

In [6]:
newDict = {"FirstName": "Gavin", "LastName": "Sidhu", "Age": 21}

#### If you want to access a particular value, you do it similar to lists, except you want to use the key name instead of the index

In [7]:
newDict["FirstName"]

'Gavin'

#### If you want to add a new key-value pair to the dictionary, you can just use a new key name and assign it a value

In [10]:
newDict["Position"] = "Teaching Assistant"
newDict["Position"]

'Teaching Assistant'

#### Here are some other functions with which you can retrieve the keys, values, and items from a dictionary

In [11]:
newDict.keys()

dict_keys(['FirstName', 'LastName', 'Age', 'Position'])

In [12]:
newDict.values()

dict_values(['Gavin', 'Sidhu', 21, 'Teaching Assistant'])

In [13]:
newDict.items()

dict_items([('FirstName', 'Gavin'), ('LastName', 'Sidhu'), ('Age', 21), ('Position', 'Teaching Assistant')])

#### You may also delete a key-value pair by referencing the key name

In [14]:
del newDict["Age"]
newDict

{'FirstName': 'Gavin', 'LastName': 'Sidhu', 'Position': 'Teaching Assistant'}

#### Now, create a dictionary that contains keys "FirstName", "LastName","ClassStanding" with values corresponding to you

#### Now, add 2 keys named "Age" and "StudentIDNumber" with the corresponding values

#### Finally, remove the ClassStanding key-value pair

#### Print the new dictionary

# Part 6: Sets

#### Sets are unique and can only contain unique values. They are declared using curly braces as can be seen below

In [16]:
numSet = {1,2,3,4,5,6,6,6,6,6,6,6,7,7,8,8,8,8,9}
numSet

{1, 2, 3, 4, 5, 6, 7, 8, 9}

#### You can also add or remove values

In [17]:
numSet.add(16)
numSet

{1, 2, 3, 4, 5, 6, 7, 8, 9, 16}

In [18]:
numSet.remove(3)
numSet

{1, 2, 4, 5, 6, 7, 8, 9, 16}

#### Much like in stats you can also do union or intersection operations on sets

In [20]:
numSet2 = set(range(0,20,2))
numSet2

{0, 2, 4, 6, 8, 10, 12, 14, 16, 18}

In [21]:
print(numSet.intersection(numSet2))

{2, 4, 6, 8, 16}

In [22]:
print(numSet & numSet2)

{2, 4, 6, 8, 16}

In [23]:
print(numSet.union(numSet2))

{0, 1, 2, 4, 5, 6, 7, 8, 9, 10, 12, 14, 16, 18}

In [25]:
print(numSet | numSet2)

{0, 1, 2, 4, 5, 6, 7, 8, 9, 10, 12, 14, 16, 18}

#### Figure out how to use the range() function above to make a set called "allNumbers" with numbers from 1 to 19 (inclusive)

#### Now make another set with the range() function to make a set called "evenNumbers" with even numbers from 0 through 10 (inclusive)

#### Add the number 20 to the first set

#### Remove 0 from the second set

#### Calculate the intersection of these sets

#### Calculate the union of these sets

# Part 7: Miscellanous

#### So far, we've seen how to do basic functions on the most common data structures, but soon, you may have to start using them in conjunction with other common programming concepts like loops, if statements, etc. When getting into Python that might require multiple lines, it is necessary to include colons. These colons indicate that the next block of code needs to be 1) indented and 2) that it is a smaller/more local block of code. It's similar to the difference between putting code inside and outside of a set of brackets in Java.

### Part 7.1: For Loops

#### Here we have a regular for loop. You can set a variable name for the items in the iterable object you are trying to loop through. On each pass through the loop, that variable name holds a different value. In our case below, we named our variable "fruit", and we have it printed on each pass through the for loop as can be seen below.

In [29]:
for fruit in fruits:
    print(fruit)

apple
banana
pineapple
mango
watermelon

#### Here we have another type of for loop, in which there are two variable names being kept track of. For simplicity sake, I have named them index and element so that you can see what each keeps track of in a particular loop. When using the enumerate, the first variable name keeps track of the index as you can see below, and the second keeps track of the value at that index, or that particular element.

In [33]:
for index,element in enumerate(fruits):
    print(str(index) + ": " + element)

0: apple
1: banana
2: pineapple
3: mango
4: watermelon

#### One last way we can use a for loop is by setting a range. Note that the first argument is inclusive, and the second is exclusive

In [34]:
for num in range(0,5):
    print(num)

0
1
2
3
4

### Part 7.2: Boolean Logic/If Statements

#### Here are a variety of boolean operations/statements. They are generally good to have in your back pocket in case you might need to use them.

In [37]:
className = "ITCS 3190"

In [38]:
className == "ITCS 3190"

True

In [39]:
className == "ITCS 3155"

False

In [40]:
className != "ITCS 3190"

False

In [41]:
className != "ITCS 3155"

True

In [42]:
"ITCS" not in className

False

In [43]:
"ITCS" in className

True

In [44]:
"3155" not in className and "ITCS" in className

True

#### Now you'll see an if else statement, with the classic example of setting a system that returns your grade

In [46]:
grade = 91
if grade < 60:
    print('Fail')
elif grade >= 60 and grade < 70:
    print('D')
elif grade >= 70 and grade < 80:
    print('C')
elif grade >= 80 and grade < 90:
    print('B')
else:
    print('A')

A

### Part 7.3: Functions

#### If you want to define a function in Python, you must first use the keyword def, followed by the function name, followed by a set of parentheses with the arguments inside. Below is an example of a function that returns the product of two numbers a and b minus c

In [1]:
def productMinus(a,b,c):
    return (a*b)-c
productMinus(16,2,8)

24

### Part 7.4: Convert time to seconds

#### For the following activity, write the function that will convert time into seconds. You will use multiple functions from python to accomplish the conversion. You shall not use any libraries or inbuilt tools. Also do not try searching google as you may end up wasting time. Just raise your hand and ask for help :)

In [2]:
# Input is a type of String in the format --> 2:10:33 
# 2 is the hour mark, 10 is the minute mark and 33 seconds --> timeToSeconds("2:10:33") should return 7866
def timeToSeconds(time):
    timeInSeconds = 0
    return timeInSeconds

### Part 7.5: Find largest difference in a list

#### Given a list of Integer, return the difference between the largest and smallest integers in the list. Once again, raise your hand for any questions

In [ ]:
# maxRange([10, 15, 20, 2, 10, 6]) ➞ 18
# maxRange([3, 6, -9, -4, -2, 15]) ➞ 24
def maxRange():
    difference = 0
    return difference